<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">プロフィール</h3>
  </div>
  <div class="card-body">
    <hr class="my-5">
    <div>
      <h4 class="mb-0">Personal Details</h4>
      <table class="table" %>
        <div class="mb-3>
          <tr>
            <th scope="row">Name</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th scope="row">Hobby</th>
            <td><%= @user.hobby %></td>
          </tr>
          <tr>
            <th scope="row">Profile</th>
            <td><%= @user.profile %></td>
          </tr>
        </div>               
      </table>
    </div>
    <td><%= render partial: "relationships/follow_btn", locals: { user: current_user } %></td>
  </div>
</div>